@import url(https://fonts.googleapis.com/css?family=Domine:400,700&display=swap&subset=latin-ext);
@import url(https://fonts.googleapis.com/css?family=Amiko:400,700&display=swap&subset=latin-ext);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap&subset=latin-ext);

/*
    This stylesheet defines the basic styles of most HTML elements.
    It makes fonts, margins and forms more consistent across browsers.

    Navigate to specific sections by searching for these strings:

    § Border-box
    § Hidden attribute fix
    § Page sizing tricks
    § Colors
    § Links
    § Fonts
    § Headings
    § Paragraphs
    § Horizontal rule
    § Lists
    § Quotes
    § Figures
    § Preformated blocks
    § Forms
*/



/*
    § Border-box everything
    https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}


/*
    § Hidden attribute fix
    https://meowni.ca/hidden.is.a.lie.html
*/

[hidden] {
    display: none !important;
}


/* § Page sizing tricks */

html {
    /* allows vertical centering and window footer */
    height: 100%;
    overflow-y: scroll;
}

body {
    /* cancels browser defaults */
    margin: 0;

    /* limits damage on ridiculously small devices */
    min-width: 350px;
}


/* § Colors */

html {
    background-color: white;
    color: black;
}


/* § Links */

a {
    color: #00f;
    text-decoration: underline;
}

h1 a:not(:hover),
h2 a:not(:hover),
h3 a:not(:hover),
h4 a:not(:hover),
h5 a:not(:hover),
h6 a:not(:hover) {
    /* removes formatting from anchor links */
    color: inherit;
    text-decoration: inherit;
}


/*
    § Fonts

    Font size is defined on html as the rem unit is relative to it.

    Amiko is a sans-serif font made for high legibility at low resolutions.
    Domine is a serif font made specifically for text-heavy websites.
    Inconsolata is a monospace font I personally find easy to read.
*/
html {
    font-family: Amiko, sans-serif;
    font-size: 18px;
    line-height: 1.35;
}

form,
input,
select,
optgroup,
textarea,
button,
label {
    /* http://isellsoap.github.io/forms.css/ */
    font-family: Amiko, sans-serif;
    font-size: 1em;
    line-height: 1.35;
}

code,
pre,
kbd {
    font-family: Inconsolata, monospace;
    font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Domine, serif;
}


/*
    § Headings size, style and margins
*/

h1, .pseudo-h1 {
    font-size: 2em;
    font-weight: bold;
    margin: .335em 0 .67em 0;
}

h2, .pseudo-h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: .375em 0 .75em 0;
}

h3, .pseudo-h3 {
    font-size: 1.17em;
    font-weight: bold;
    margin: .415em 0 .83em 0;
}

h4, .pseudo-h4 {
    font-size: 1em;
    font-weight: bold;
    margin: .56em 0 1.12em 0;
}

h5, .pseudo-h5 {
    font-size: .83em;
    font-weight: bold;
    margin: .75em 0 1.5em 0;
}

h6, .pseudo-h6 {
    font-size: .75em;
    font-weight: bold;
    margin: .835em 0 1.67em 0;
}


/* § Paragraphs */

p {
    margin: .56em 0 1.12em 0;
}


/* § Horizontal rule */

hr {
    border: 0;
    color: inherit;
    margin: 1.12em 0 1.12em 0;
    overflow: visible;
    padding: 0;
    text-align: center;
}

hr::after {
    content: "🀳 🁃 🁍";
    display: inline-block;
    font-size: 2em;
    overflow: visible;
    height: 0;
}


/* § Lists */

ul,
ol,
dl {
    margin: .56em 0 1.12em 0;
}

ul ul,
ul ol,
ul dl,
ol ul,
ol ol,
ol dl {
    margin: 0;
}


/*
    § Quotes

    For precisions about semantics, see MDN
    https://developer.mozilla.org/en-US/docs/Web/HTML/Element/blockquote

    Long story short:
    - To mention source, put the <blockquote> in a <figure> and add a <figcaption>
    - The figcaption can contain the name of the work wrapped in a <cite>
*/

blockquote {
    margin: .56em 0 1.12em 0;
    padding: 0 2em;
}

blockquote > footer {
    margin: .56em 0 1.12em 0;
    text-align: right;
}

blockquote > footer::before {
    content: "— "; /* em dash */
}

[lang=fr] q {
    quotes:
        "«\a0 " "\a0 »"
        "“" "”"
        "‘" "’";
}


/* § Figures */

figure img {
    display: block;
    margin: 0 auto;
    max-height: 50vh;
    max-width: 100%;
}

figcaption {
    font-size: 0.8em;
    font-style: italic;
    margin: .415em;
}


/* § Preformated blocks */

pre {
    margin: .56em 0 1.12em 0;
    overflow: auto;
}


/* § Forms */

form,
fieldset {
    margin: .56em 0 1.12em 0;
}

figure {
    margin: .56em 0 1.12em 0;
}
